@import 'style.scss';

.button-voir-plus{
    bottom: map-get($buttonGold, bottom);
    right: map-get($buttonGold, right);
    padding: map-get($buttonGold, padding);
    background: map-get($buttonGold, background);
    font-size: map-get($buttonGold, font-size);
    font-weight: map-get($buttonGold, font-weight);
    color: map-get($buttonGold, color);
    border-radius: map-get($buttonGold, border-radius);
    box-shadow: map-get($buttonGold, box-shadow);
    transition: map-get($buttonGold, transition);
    &:hover{
        // transform: scale(1.02);
        background-color: $jauneHoverCVB;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
}

section{
    width: auto;
    .cards{
        padding: 0 10%;
        margin: 5% auto;
        .card{
            width: 30%;
            margin-top: 5%;
            min-height: 350px;
            margin-right: 3%;
            border: 1px solid red;
        }
        h2{
            font-weight: 800;
            margin-top: 10px;
        }
        h3{
            font-style: italic;
        }
        .content{
            margin-top: 10px;
            line-height: 150%;
            height: 100px;
            overflow: hidden;
        }
        img{
            height: 200px;
            min-width: 100%;
            object-fit: cover;
        }
    }
}
    