$jauneCVB: #dfbe2c;
$rougeCVB: #b91a16;
$bleuCVB: #293378;

body{
    background-color: #ffffff;
}
//________________________________________________________________
// _____________________________ Navbar ____________________________
//________________________________________________________________

.introBar{
    background: linear-gradient(to left, $rougeCVB 0%, $bleuCVB 100%);
    p{
        margin-left: 20%;
        font-size: 18px;
    }
    div{
        margin-right:20%;
    }
    img{
        width: 25px;
        transition: transform 0.3s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.navbar{
    position: relative;
    height: 90px;
    border-bottom: solid 1px $bleuCVB;
    // background: linear-gradient(to top, #b91a16 0%, #293378 100%);
    background-color: #ffffff;

    .navbar-content{
        margin: 10px 10%;
    }
    .MenuNavbar{
        display: flex;
        gap: 20px;
        li {
            font-weight: 500;
            color: $bleuCVB;
            display: inline-block;
            margin: 0;
            text-decoration: none;
            position: relative;
        }
        li::before{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $jauneCVB;
            transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
            transform-origin: left;
        }
        li:hover::before {
            width: 100%;
            left: 0;
        }  
        img{
            width: 15px;
            min-width: 15px;
            margin-top: 6px;
            margin-left: 8px;
        }   
    }
    .itemMenu{
        white-space: nowrap;
    }
}
.logoClub{
    // position: absolute;
    top: 10%;
    left: 5%;
    width: 100px;
    min-width: 100px;
}

// _______________________Dropdown menu___________________

.dropdown-item {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: black;
        font-weight: 500;
        border-radius: 5px;
        border-top: 5px solid $jauneCVB;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 20px;
        background: white;
        h3{
            color: $jauneCVB;
        }
    }
  }
  .dropdown-item:hover .dropdown-content{
    display: flex;
  }

//________________________________________________________________
// _____________________________ Scores ____________________________
//________________________________________________________________
  .scores{
    margin: 20px auto;
    width: 60%;
    height: 150px;
    background: rgba(0, 119, 255, 0.39);
  }

//________________________________________________________________
// _____________________________ Atualités ____________________________
//________________________________________________________________
.actualites{
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    height: 450px;
    h2{
        font-size: 32px;
        color: $bleuCVB;
        font-weight: 900;
    }

    .first-actu{
        margin: 20px auto;
        width: 60%;
        height: 380px;
        max-height: 20%;
        background: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        h5{
            color: $bleuCVB;
            font-size: 18px;
        }
        p{
            color: $jauneCVB;
        }
        img{
            padding: 2px;
            border-bottom: solid 1px rgba(0, 0, 0, 0.199);
            width: 100%;
            max-height: 300px;
        }
    }
    .others-actu{
        position: relative;
        width: 50%;
        .block-others-actus{
            padding: 12px;
            width: auto;
            background: rgb(255, 255, 255);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            h5{
                color: $bleuCVB;
                font-size: 18px;
                font-weight: 900;
            }
            p{
                color: $jauneCVB;
            }
        }
        .all-actus{
            position: absolute;
            bottom: 10px;
            right: -10px;
            padding: 5px;
            background: $jauneCVB;
            font-size: 18px;
            font-weight: 900;
            color: white;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

//________________________________________________________________
// _____________________________ Réseaux sociaux ____________________________
//________________________________________________________________

