$jauneCVB: #e09900;
$rougeCVB: #b91a16;
$bleuCVB: #111731;
$whiteFondCVB: #F9F9F9;

$fontTitle: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
$marginTitle: 10% 0 10% -10%;
$sizeTitle: 48px;
// $lineHeight:test;